body {
  font-family: Arial;
  background: #0d1b2a;
  color: white;
  text-align: center;
  padding: 30px;
}

.box {
  background: #1b263b;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background: #00b4d8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
