body {
    font-family: Arial;
    background: #0b182b;
    color: white;
    text-align: center;
    padding: 30px;
}

.box {
    background: #123456;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    margin: auto;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background: #09f;
    color: white;
    cursor: pointer;
}

#output {
    margin-top: 30px;
    font-size: 18px;
}
