body {
    background: #0e1b25;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hidden { display: none; }

#intro {
    margin-top: 120px;
}

#app {
    margin: 30px;
}

.search-box {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #1aa3ff;
    color: white;
    cursor: pointer;
}

.card {
    background: #152735;
    margin: 10px auto;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
}

#tiker {
    margin: 20px auto;
    background: #06131e;
    padding: 10px;
    width: 80%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #00ff55;
    border-radius: 50%;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: .4; }
    100% { opacity: 1; }
}
